body{
	background-color: springgreen;
	}

h1{
	font-size: 30px;
	color: salmon;
	padding: 0px;
	margin-bottom: 5px;
	margin-top: 5px;
	}

h2{
	font-size: 20px;
	color: hotpink;
	}

h1 span{
	color: violet;
	}
